body{
    margin: 0;
    font-size: 14px;
}
.header{
    margin-top: 10px;
}
.header .title-mm i{
    width: 20px;
    height: 20px;
    background-color: #e67c8e;
    border-radius: 3px;
    padding-top: 2px;
}